<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.EduStudentMapper" >
  <resultMap id="BaseResultMap" type="bean.EduStudent" >
    <id column="s_id" property="sId" jdbcType="BIGINT" />
    <result column="s_username" property="sUsername" jdbcType="VARCHAR" />
    <result column="s_password" property="sPassword" jdbcType="VARCHAR" />
    <result column="s_name" property="sName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    s_id, s_username, s_password, s_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bean.EduStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from edu_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from edu_student
    where s_id = #{sId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from edu_student
    where s_id = #{sId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="bean.EduStudentExample" >
    delete from edu_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bean.EduStudent" >
    insert into edu_student (s_id, s_username, s_password, 
      s_name)
    values (#{sId,jdbcType=BIGINT}, #{sUsername,jdbcType=VARCHAR}, #{sPassword,jdbcType=VARCHAR}, 
      #{sName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bean.EduStudent" >
    insert into edu_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sId != null" >
        s_id,
      </if>
      <if test="sUsername != null" >
        s_username,
      </if>
      <if test="sPassword != null" >
        s_password,
      </if>
      <if test="sName != null" >
        s_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sId != null" >
        #{sId,jdbcType=BIGINT},
      </if>
      <if test="sUsername != null" >
        #{sUsername,jdbcType=VARCHAR},
      </if>
      <if test="sPassword != null" >
        #{sPassword,jdbcType=VARCHAR},
      </if>
      <if test="sName != null" >
        #{sName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bean.EduStudentExample" resultType="java.lang.Integer" >
    select count(*) from edu_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update edu_student
    <set >
      <if test="record.sId != null" >
        s_id = #{record.sId,jdbcType=BIGINT},
      </if>
      <if test="record.sUsername != null" >
        s_username = #{record.sUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.sPassword != null" >
        s_password = #{record.sPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.sName != null" >
        s_name = #{record.sName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update edu_student
    set s_id = #{record.sId,jdbcType=BIGINT},
      s_username = #{record.sUsername,jdbcType=VARCHAR},
      s_password = #{record.sPassword,jdbcType=VARCHAR},
      s_name = #{record.sName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bean.EduStudent" >
    update edu_student
    <set >
      <if test="sUsername != null" >
        s_username = #{sUsername,jdbcType=VARCHAR},
      </if>
      <if test="sPassword != null" >
        s_password = #{sPassword,jdbcType=VARCHAR},
      </if>
      <if test="sName != null" >
        s_name = #{sName,jdbcType=VARCHAR},
      </if>
    </set>
    where s_id = #{sId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="bean.EduStudent" >
    update edu_student
    set s_username = #{sUsername,jdbcType=VARCHAR},
      s_password = #{sPassword,jdbcType=VARCHAR},
      s_name = #{sName,jdbcType=VARCHAR}
    where s_id = #{sId,jdbcType=BIGINT}
  </update>
</mapper>